/* body{

}

.header-container{
    display: flex;
    flex-direction: row;
} 
.teacher-connect{
    align-self: center;
}
#logo{
    align-self: left;
}

.header-nav{
    display: flex;
   
}

.nav-item {
	width:  50%;
	margin-top: 10vh;
} */

.container {
	display:  flex;
	flex-direction:  column;
	min-height:  100vh;
}


.header {
	display:  flex;
	flex-direction: row;
    width:  100vw;
    height: 15vh; 
	padding:  15px;
	background-color: cornsilk;
	color:  cornflowerblue;
}

.header-info {
    flex-direction: column;
    width: 30%;
    height: 10vh;

}

.header-nav {
	width:  70%;
    display:  flex;
    height: 10vh;
}

.nav-item {
	width:  50%;
	margin-top: 10vh;
}
#logo{
    background-color: cornsilk;
    height: 120% ;
    padding: 0%;
    margin: 0%;

}

#logo-tag{
    margin:0%;
    padding:0%;

}

.icon-avatar2{
    height: 180%;
    padding-right: 30px;
}

.main-gallery {
	width: calc(100vw - 40px);
}

.main-gallery-img {
	width: calc(25% - 20px);
    margin: 3px;
    border-radius: 5px;
    height: 250px;
}

.main-gutter {
	width:  10px;
	margin-left: 10px;
}

@media (max-width: 1100px){
	.main-gallery-img{
		width: calc(33% - 20px);
	}
}

@media (max-width: 850px) {
	.main-gallery-img{
		width: calc(50% - 20px);
	}
}

@media (max-width:  550px) {
	.main-gallery-img{
		width: calc(100% - 20px);
	}

	.header {
		position:  fixed;
		top:  0;
		left:  0;
		opacity: 0.6;
	}

}
