
.container {
	display:  flex;
	flex-direction:  column;
	min-height:  100vh;
}


.header {
	display:  flex;
	flex-direction: row;
    width:  100vw;
    height: 15vh; 
	padding:  15px;
	background-color: cornsilk;
	color:  cornflowerblue;
}

.header-info {
    width: 30%;
    height: 10vh;

}

.header-nav {
	width:  70%;
    display:  flex;
    height: 10vh;
}

.nav-item {
	width:  50%;
	margin-top: 10vh;
}
.header-container{
	display: flex;
	flex-direction: column;


}
#logo{
    background-color: cornsilk;
    height: 90% ;
    padding: 0%;
    margin: 0%;

}

#logo-tag{
    margin:0%;
    padding:0%;

}
.teacher-connect{
	text-align:center; 
}

.main-container{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.avatar-image{
	height: 35vh;
}


/* View students page */
.icon-avatar2{
    height: 180%;
    padding-right: 30px;
}

.main{
    display: flex;
    flex-direction: column;

}

.dropdown{

    flex-direction: column;
    align-self: center;
    
}

.table-container{
	display: flex;
	

}

.table{
	flex-direction: row;
    align-self: center;
    justify-content: space-around;


}

@media (max-width: 1100px){
	.main-gallery-img{
		width: calc(33% - 20px);
	}
}

@media (max-width: 850px) {
	.main-gallery-img{
		width: calc(50% - 20px);
	}
}

@media (max-width:  550px) {
	.main-gallery-img{
		width: calc(100% - 20px);
	}

	.header {
		position:  fixed;
		top:  0;
		left:  0;
		opacity: 0.6;
	}

}
